@import url('https://fonts.googleapis.com/css?family=Abel|Pattaya|Lekton:400');

body { 
  font-family: 'Abel'; 
  font-size: 20px;
}

h1 { 
  font-family: 'Pattaya';
  font-size: 75px; 
  margin-bottom: 20px;
}

h2, h3 { 
  font-family: 'Lekton'; 
  font-variant: small-caps;
  letter-spacing: 5px;
}

h2 { font-size: 35px; }

h3 { 
  font-size: 30px; 
  margin-bottom: 10px;
}

h4 { 
  color: #777;
  display: inline-block;
  font-size: 22px; 
  font-weight: bold;
  margin-bottom: 5px;
}

header {
  padding: 50px;
  font-size: 20px;
  text-align: center;
}

aside, main { 
  display: inline-block; 
  vertical-align: top;
}

main h3 { 
  color: #444;
  border-bottom: 1px solid #ff5139;; 
  padding-bottom: 10px;
}

aside { 
  padding-left: 30px;
  width: 27%;
}

main { 
  border-left: 1px solid #ccc;
  width: 67%; 
  padding-left: 20px;
}

section {
  margin-bottom: 20px;
}

section div { margin-bottom: 10px; }

section span {
  float: right; 
}
