@import url(http://fonts.googleapis.com/css?family=Strait);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/********** BASE **********/

body {
  text-align: center;
  font-size: 1.05em;
  color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: 'Strait', Tahoma, Helvetica;
  line-height: 25px;
  background:#333;
}

h1 {
	font-size: 34px;
  color: #fff;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #ccc;
}

h3 {
	font-size: 24px;
}

p {
  font-family: 'Strait', Tahoma, Helvetica;
  line-height: 1.8em;
  font-weight: 400;
}

em {
  font-weight: 600;
  background: #ff5139;
  color: #333;
  padding: 2px;
}

strong {
  font-family: Tahoma, Helvetica;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.93em;
}

.curr-stack {
  font-family: 'Strait', Tahoma, Helvetica;
  background:  #f94a32;
  color: #333;
}

hr {
  border-top: none;
  border-left:none;
  border-right: none;
  border-bottom: 1px dashed #fff;
  height: 2px;
  margin: 2em auto;
  padding: 2px;
  clear:both;
}

/********** LAYOUT *********/

.greeting {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
  color: #f94a32;
}

header, section, footer {
	width: 50%;
  margin: auto;
}

header {
	padding-top: 150px;
}

nav {
	font-size: 1.2em;
	color: #fff;
}


footer { clear: both;
  margin-top: 1%;
  text-align: center;
  padding-bottom: 50px;
}


/********** LAYOUT - GRAY TEXT BOXES *********/
.text {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1em auto;
  font-family: 'Strait', Arial;
  text-align: center;
  color: #f9f2f2;
}

.text {
	padding: 1em;
}


/********** MODULE - SLIDERS ***********/
.img-slider img {
	width: 275px;
	margin: auto;
}
.img-slider {
  width: 300px !important;
	margin: auto;
}

.slick-prev, .slick-next {
	font-family: 'Pacifico', Impact, cursive;
	color:#f94a32;
}
.slick-prev { 	left: -30px; }
.slick-next { right: -30px; }

/********** MODULE - TYPE EFFECT *******/
.type-effect {
	font-family: Courier;
	font-weight: 600;
  font-size: 34px;
	display: inline-block;
}

.type-cursor {
	width: 15px;
	height: 7px;
	background: #fff;
	display: inline-block;
}

/********** MODULES - MISC *************/

.to-top {
	display:inline;
	position:fixed;
	z-index: 999;
	width: 60px;
	height: 30px;
	bottom: 0;
	right: 100px;
	padding-bottom: 25px;
	margin: 0;
	display: none;
	font-size: 16px;
}
.top-of-page {margin:0;}


.stack {
	color: #ff5139;
	font-style: italic;
}

/********** STATES **********/

a:link, a:visited {
  color: #f94a32;
  line-height: 1.65em;
  padding: 0px;
  font-family: Tahoma, Helvetica;
  text-decoration:none;
  margin: 0 5px;
  font-variant: small-caps;
}

a:hover {
	color:#fff;
}

nav a:link,
nav a:visited,
nav a:active { color: #fff; }

nav a:hover { color: #f94a32; }

.text a:link, .text a:visited {
	font-size: 1em;
}

/************ MEDIA QUERIES - LAPTOP **************/
@media only screen and (min-width: 824px) and (max-width: 1060px) {
	.slick-prev { left: -10px; }
	.slick-next { right: -10px; }
}
@media only screen and (min-width: 628px) and (max-width: 823px) {
	section, footer { width: 60%; }
	.to-top {right: 50px;}
	.slick-prev { left: -10px; }
	.slick-next { right: -10px; }
}

@media only screen and (min-width: 463px) and (max-width: 627px) {
	body {
		overflow-x: hidden;}

	h1, 
  .greeting, 
  .type-effect {
		font-size: 45px;
		line-height: 1em;
	}

	header { padding: 100px 0 20px 0; }

	header, section, footer {
		width: 75%;
		margin: auto;
    font-size: 1em;
	}

	.to-top { right: 0; }
	.slick-prev { left: -15px; }
	.slick-next { right: -15px; }
}

/************ MEDIA QUERIES - MOBILE **************/
@media only screen and (max-device-width: 1143px) {
	p { width: 100%; }
	section, footer {width:50%;}

	.slick-prev { left: -40px; }
	.slick-next {  right: -40px; }
}

@media only screen and (max-device-width: 890px) {
	h1, .greeting {
		font-size: 55px;
		line-height: 1em;
	}

	h2 { font-size: 40px; }

  header, section, footer { width:70%;}

  .text {
		font-size: 0.9em;
		line-height: 1em;
		padding: 0.5em 1em;
		width: 70%;
	}

	.slick-prev {  left: -30px; }
	.slick-next {  right: -30px; }
}


@media only screen and (max-device-width: 598px)  {
  h1,
  .greeting,
  .type-effect {
  	font-size: 55px;
  	line-height: 1em;
  }

  header, section,footer { width: 70%; }

  .text {
  	font-size: 0.9em;
  	line-height: 1em;
  	width: 100%; }

  .slick-prev { left: -25px; }
  .slick-next { right: -25px; }

}

@media only screen and  (max-device-width: 451px) {
	body {
		overflow-x: hidden;}

	h1 {
		font-size: 60px;
		line-height: 1em;
	}

	h2 {font-size: 50px; }

	header { padding: 100px 0 20px 0; }

	header, section, footer {
		width: 75%;
		margin: auto;
    font-size: 0.85em;
	}

  nav { font-size: 0.85em; }

  .to-top { font-size: 0.85em; }

	.slick-prev { left: -25px; }
	.slick-next { right: -25px; }
}

@media only screen and (max-device-width: 360px) {
  body {
  	overflow-x: hidden;}

  header {padding: 100px 0 20px 0;
  }

  .greeting,
  .type-effect
   { font-size: 40px; }

  h1  {
  	font-size: 35px;
  	line-height: 1em;
  }

  h2 { font-size: 30px; }

  .text {
  	font-size: 0.9em;
  	line-height: 20px;
  	padding: 20px 10px; }

  nav { font-size: 0.85em; }

  header, section, footer {
  	margin: auto;
  	width: 95%;
  }

  .to-top {
    right: 0;
    width: 80px;
    font-size: 0.85em;
   }

  .slick-prev { left: -25px; }
  .slick-next { right: -25px; }
}
