@import '../node_modules/bulma/css/bulma.css';
@import url(http://fonts.googleapis.com/css?family=Strait);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/********** BASE **********/
html, body { margin: 0; }
body {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  min-height: 100%;
  font-family: 'Strait', Tahoma, Helvetica;
  line-height: 30px;
  background:#333;
}

h1 {
	font-size: 34px;
  color: #fff;
}

h2 {
  color: #ccc;
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  margin-bottom: 10px;
}

h3 { font-size: 24px; }

p {
  font-family: 'Strait', Tahoma, Helvetica;
  line-height: 1.8em;
  font-weight: 400;
}

em {
  background: #ff5139;
  color: #333;
  font-weight: 600;
  padding: 2px;
}

strong {
  color: #fff;
}

.curr-stack {
  background:  #f94a32;
  color: #333;
  font-family: 'Strait', Tahoma, Helvetica;
  font-weight: bold;
  padding: 2px;
}

.underline { 
  border-bottom: 2px solid #f94a32;
  text-decoration: underline;
}

hr {
  border-top: none;
  border-left:none;
  border-right: none;
  border-bottom: 1px dashed #fff;
  clear:both;
  height: 2px;
  margin: 2em auto;
  padding: 2px;
}

/********** LAYOUT *********/

.greeting {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
  color: #f94a32;
}

header, section, footer { width: 55%; }

section, footer { margin: 20px auto auto; }

header {
	padding-top: 8rem;
  margin: auto auto 3rem;
}

nav {
	color: #fff;
	font-size: 1.25rem;
  margin-top: 15px;
}


article { 
  color: #f9f2f2;
  font-family: 'Strait', Arial;
  line-height: 20px;
  text-align: left;
}

footer { 
  margin-top: 3%;
  text-align: center;
  padding-bottom: 50px;
}

/********** MODULE - TYPE EFFECT *******/
.type-effect {
	font-family: Courier;
	font-weight: 600;
  font-size: 34px;
	display: inline-block;
}

.type-cursor {
	width: 15px;
	height: 7px;
	background: #fff;
	display: inline-block;
}

/********** MODULES - MISC *************/

.to-top {
	display:inline;
	position:fixed;
	z-index: 999;
	width: 60px;
	height: 30px;
	bottom: 0;
	right: 100px;
	padding-bottom: 25px;
	margin: 0;
	display: none;
}
.top-of-page {margin:0;}

.stack {
	color: #ff5139;
	font-style: italic;
}

.status { 
  color: #fff; 
  font-variant: small-caps;
  padding: 3px;
}
/********** STATES **********/

.status.incomplete { background: #0074ba; }
.status.complete { background: #95bd00; }

a:link, a:visited {
  color: #f94a32;
  line-height: 1.65em;
  padding: 0px;
  font-family: Tahoma, Helvetica;
  text-decoration:none;
  font-variant: small-caps;
}

a:hover {
	color:#fff;
}

nav a:link,
nav a:visited,
nav a:active { 
  color: #aaa; 
  font-weight: bold;
  margin: auto 10px;
}

nav a:hover { color: #f94a32; }

/************ MEDIA QUERIES - LAPTOP **************/
@media only screen and (min-width: 628px) and (max-width: 823px) {
	section, footer { width: 60%; }
	.to-top {right: 50px;}
}

@media only screen and (min-width: 463px) and (max-width: 627px) {
	body {
		overflow-x: hidden;}
	h1, 
  .greeting, 
  .type-effect {
		font-size: 45px;
		line-height: 1em;
	}

	header { padding: 100px 0 20px 0; }

	header, section, footer {
		width: 75%;
		margin: auto;
    font-size: 1em;
	}

	.to-top { right: 0; }
}

/************ MEDIA QUERIES - MOBILE **************/
@media only screen and (max-device-width: 1143px) {
  header, section, fotter { width: 72%; }

  h3 { font-size: 21px; }
  .to-top { right: 70px; }
}

@media only screen and (max-device-width: 890px) {
	h1, .greeting {
		font-size: 46px;
		line-height: 1em;
	}

	h2 { font-size: 38px; }

  header, section, footer { width:75%;}
  section { margin: 35px auto; }
  /* article { width: 80%; } */

  .to-top { 
    width: 51px;
    right: 50px; 
  }
}

@media only screen and (max-device-width: 598px)  {
  h1,
  .greeting,
  .type-effect {
  	font-size: 55px;
  	line-height: 1em;
  }

  header, section,footer { width: 75%; }
  
  /* article { width: 80%; } */

  .text {
  	font-size: 0.9em;
  	line-height: 1em;
  	width: 100%; }
}

@media only screen and  (max-device-width: 451px) {
	body { overflow-x: hidden;}

	h1 {
		font-size: 38px;
		line-height: 1em;
	}

	h2 {font-size: 45px; }

	header { padding: 100px 0 20px 0; }

	header, section, footer {
		width: 75%;
		margin: auto;
    font-size: 0.85em;
	}

  /* article { width: 80%; } */

  .to-top { font-size: 0.85em; }
}

@media only screen and (max-device-width: 360px) {
  body { overflow-x: hidden; }

  header { padding: 100px 0 20px 0; }

  .greeting,
  .type-effect
   { font-size: 35px; }

  h1  {
  	font-size: 29px;
  	line-height: 1em;
  }

  h2 { font-size: 30px; }
  h4 { font-size: 17px; }

  nav { 
    font-size: 16px; 
    margin-top: 20px; 
  }

  header, section, footer {
  	margin: 30px auto;
  	width: 95%;
  }

  article { 
    /* width: 75%; */
  }

  .to-top {
    right: 0;
    width: 80px;
    font-size: 0.85em;
   }
}
